<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro - FootZone</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
</head>
<body>
    <div class="background"></div>
    <div class="login-caixa">
        <div class="campos">
            <a href="/usuario" class="campoAtivo">Usuário</a>
            <a href="/empresa" class="campoDesativado">Empresa</a>
            <a href="/admin" class="campoDesativado">Admin</a>
        </div>

        <h2>Cadastro</h2>
        <form action="/cadastrar/usuario" method="post">
            <h4>Nome:</h4>
            <input type="text" name="nome" oninput="MascaraNome(this)" required>

            <h4>CPF:</h4>
            <input type="text" name="cpf" id="cpf" oninput="mascaraCPF(this)" placeholder="000.000.000-00" required>

            <h4>Email:</h4>
            <input type="email" name="email" oninput="mascaraEmail(this)" required>

            <h4>Telefone:</h4>
            <input type="text" name="telefone" oninput="mascaraTelefone(this)" placeholder="(00) 00000-0000" required>

            <h4>Senha:</h4>
            <input type="password" name="senha" id="senha" oninput="senhaForte(this)" required>

            <h4>Confirmar Senha:</h4>
            <input type="password" id="confirmarSenha" oninput="confirmarSenha()" required>

            <button type="submit">Finalizar Cadastro</button>
        </form>
    </div>
    <script src="{{ url_for('static', path='/script.js') }}"></script>
</body>
</html>